<html>
    <head>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
        <button id="train" onclick="train()">
            Train
        </button>
        <button id="generate" onclick="generate()">
            Generate
        </button>
        <button id="clear" onclick="clear2()">
            Clear
        </button>
        <div class="output" id="output"></div>
        <div class="output" id="original"></div>
        <script src="javascripts/index.js"></script>
    </body>
</html>