<html>
    <body>
        <button id="train" onclick="train()">
            Train
        </button>
        <button id="generate" onclick="generate()">
            Generate
        </button>
        <button id="clear" onclick="clear2()">
            Clear
        </button>
        <div id="output"></div>
        <script src="javascripts/index.js"></script>
    </body>
</html>