body {
  padding: 20px;
}

button {
 padding: 10px;
 color: white;
}

#train {
 background-color: #135200;
}

#generate {
 background-color: #006d75;
}

#clear {
 background-color: #003a8c;
}

.output {
  background-color: #f0f5ff;
  padding: 10px;
}